.task-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-left: 5px #bc6c25 solid;
    align-self: stretch;
    .new-task-form-container {
        align-items: stretch;
        flex-wrap: wrap;
        padding: 0 10%;
        flex-grow: 1;
        width: 100%;
        h1 {
            text-align: center;
            color: #bc6c25;
        }
        .buttons-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}