.dropdown-button {
    width: 100%;
    position: relative;
    margin: 45px 0;
    .select-container {
        background: none;
        background-color: white;
        color: #bc6c25;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #bc6c25;
        margin: 25px 0;
    }
    .dropdown-button-label {
        color: #283618;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: -25px;
        transition: 300ms ease all;
    }
}