.button-container {
    width: auto;
    height: 40px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 100;
    background-color: #bc6c25;
    color: #fefae0;
    text-transform: uppercase;
    border: 2px solid #bc6c25;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: #fefae0;
        color: #bc6c25;
    }
}