.quadrant1-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    border-right: 2px #bc6c25 solid;
    border-bottom: 2px #bc6c25 solid;
    align-self: stretch;
    height: 350px;
    .quadrant-title-container {
        color: #bc6c25;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.quadrant2-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    border-left: 2px #bc6c25 solid;
    border-bottom: 2px #bc6c25 solid;
    align-self: stretch;
    height: 350px;
    .quadrant-title-container {
        color: #bc6c25;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.quadrant3-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    border-right: 2px #bc6c25 solid;
    border-top: 2px #bc6c25 solid;
    align-self: stretch;
    height: 350px;
    .quadrant-title-container {
        color: #bc6c25;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.quadrant4-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    border-left: 2px #bc6c25 solid;
    border-top: 2px #bc6c25 solid;
    align-self: stretch;
    height: 350px;
    .quadrant-title-container {
        color: #bc6c25;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}