    .journal-green {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 155px;
        background-color: #0A6838;
        border: 2px black solid;
        border-left: 20px black solid;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        align-self: stretch;
        margin: 10px;
        height: 200px;
        cursor: pointer;
        h2 {
            text-align: center;
        }
        &:hover {
            opacity: 80%;
        }
    }
    
    .journal-blue {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 155px;
        background-color: #103461;
        border: 2px black solid;
        border-left: 20px black solid;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        align-self: stretch;
        margin: 10px;
        height: 200px;
        cursor: pointer;
        h2 {
            text-align: center;
        }
        &:hover {
            opacity: 80%;
        }
    }
    
    .journal-orange {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 155px;
        background-color: #9C4309;
        border: 2px black solid;
        border-left: 20px black solid;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        align-self: stretch;
        margin: 10px;
        height: 200px;
        cursor: pointer;
        h2 {
            text-align: center;
        }
        &:hover {
            opacity: 80%;
        }
    }
    
    .journal-red {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 155px;
        background-color: #720010;
        border: 2px black solid;
        border-left: 20px black solid;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        align-self: stretch;
        margin: 10px;
        height: 200px;
        cursor: pointer;
        h2 {
            text-align: center;
        }
        &:hover {
            opacity: 80%;
        }
    }
    
    .journal-purple {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 155px;
        background-color: #5B0040;
        border: 2px black solid;
        border-left: 20px black solid;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        align-self: stretch;
        margin: 10px;
        height: 200px;
        cursor: pointer;
        h2 {
            text-align: center;
        }
        &:hover {
            opacity: 80%;
        }
    }
    
    .journal-yellow {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 155px;
        background-color: #FEB805;
        border: 2px black solid;
        border-left: 20px black solid;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        align-self: stretch;
        margin: 10px;
        height: 200px;
        cursor: pointer;
        h2 {
            text-align: center;
        }
        &:hover {
            opacity: 80%;
        }
    }